.weather-form {
    text-align: center;
}

.weather-form input,
.weather-form button {
    width: 100%;
    border-radius: 0;
}

.weather-form #weather-input {
    height: 100%;
}

.weather-card {
    border: 1px solid #000;
}

.react-loader {
    margin: auto;
    padding-top: 1em;
}